.placeholder {
  width: 100%;

  /* border-radius: 0.2rem; */
  outline: none;
  border: none;
  padding: 0.8rem 1rem;
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  position: relative;
}

.placeholder-bg-dark {
  background-color: hsl(235, 24%, 19%);
}

.placeholder-bg-light {
  background-color: hsl(0, 0%, 98%);
}

.list {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.list .placeholder:not(:last-child) {
  border-bottom: 0.5px solid rgba(110, 110, 110, 0.288);
}
.list .placeholder:first-child {
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}

.list .placeholder:last-child {
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.check-circle {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid hsl(234, 11%, 52%);
  padding: 6px 5px;
  margin-right: 1rem;
  background-color: transparent;
  cursor: pointer;
}

.check-circle-bg {
  background: linear-gradient(
    to bottom right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  ) !important;
}
.check-circle + p {
  text-decoration: none;
}

.check-circle-bg + p {
  text-decoration: line-through;
  color: hsl(234, 11%, 52%) !important;
}
.cross {
  margin-left: auto;
  cursor: pointer;
}

.d-none {
  display: none;
}
.d-block {
  display: block;
}
