.placeholder {
  width: 100%;
  border-radius: 0.2rem;
  outline: none;
  border: none;
  padding: 1.3rem 1rem;
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.placeholder > *:not(:last-child) {
  margin-right: 1.2rem !important;
}

.span {
  cursor: pointer;
  color: white;
}
.span.active {
  color: hsl(220, 98%, 61%) !important;
}

.middle > *:not(:last-child) {
  margin-right: 0.8rem;
}

.placeholder-bg-dark {
  background-color: hsl(235, 24%, 19%);
}

.placeholder-bg-light {
  background-color: hsl(0, 0%, 98%);
}
