*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 62.5%;
}

.body-container {
  width: 100vw;
  min-height: 100vh;

  position: relative;
  overflow-x: hidden;
}
.bg-image {
  position: relative;
  min-height: 20rem;
}

.dark-bg {
  background-color: hsl(235, 21%, 11%);
}
.light-bg {
  background-color: hsl(0, 0%, 98%);
}
